{
    "extends": "eslint-config-rallycoding",
    "parser": "babel-eslint",
    "rules": {
        "semi": 0,
        "global-require": 0,
        "arrow-body-style": 0,
        "max-len": 0,
        "import/no-unresolved": 0,
        "import/imports-first": 0,
        "no-underscore-dangle": 0
    }
}