{
    "extends": "@react-native-community/eslint-config",
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": 0,
        "semi": 0,
        "global-require": 0,
        "arrow-body-style": 0,
        "max-len": 0,
        "import/no-unresolved": 0,
        "import/imports-first": 0,
        "no-underscore-dangle": 0,
        "quotes": 0,
        "react/jsx-first-prop-new-line": 0,
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-curly-spacing": 0,
        "no-return-assign": 0,
        "no-else-return": 0,
        "no-unused-expressions": 0,
        "no-nested-ternary": 0,
        "object-shorthand": 0,
        "camelcase": 0,
        "react/sort-comp": 0,
        "no-lonely-if": 0,
        "comma-dangle": 0,
        "jsx-quotes": 0,
        "react-native/no-inline-styles": 0
    }
}